/* Generell CSS for alle sidene */

body {
    background-color: #efefef;
    font-family: sans-serif;
}

/* CSS til Header */
.flex-container {
    display: flex;
    flex-direction: row;
  }
  
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

header {
    background-color: #efefef;
    position: sticky;
   }
   
header img { 
max-width: 30%
}

nav { 
    overflow: hidden;
    text-align: center;
    font-size: 200%;
    padding: 5%;
}

header a:link {
    color: #414b3b;
    padding: 10px;
    text-decoration: none;
}

header a:visited {
color: #414b3b;
 }

header a:hover, a.active {
    background-color: #414b3b;
    color: #efefef;
    padding: 20px;
  }

/* CSS FOR BOOKINGSIDEN - herifra og ned*/
