                                        /* Generell CSS for alle sidene */

body {
    background-color: #efefef;
    font-family: sans-serif;
}

header {
    position: sticky;
   }
   

                                        /* CSS til Header */
.nav-container {
    display: grid;
    padding-top: 20px;
    grid-template-columns: 1fr 4fr;
    align-items: center;
  }

  nav ul li {
    list-style-type: none;
  }

 .nav-items {
    display: flex;
    justify-content: space-evenly;
 }

.logo-image img {
    min-width: 200px;
    width: 100%;
}

nav { 
    overflow: hidden;
    text-align: center;
    font-size: 3rem;
    padding: 5%;
}
  
                                           /* CSS Header -- Media */
  @media only screen and (max-width: 786px) {
    .nav-container {
      grid-template-columns: 1fr;
    }
    .nav-items {
        flex-direction: column; 
    }
    .nav-items li {
        margin: 50px 0;
        text-align: center;
    }
    
  }

@media only screen and (max-width: 1168px) {
    nav {
        font-size: 2rem;
    }
}



                                                /* HEADER HOVER*/

header a:link {
    color: #414b3b;
    padding: 10px;
    text-decoration: none;
}

header a:visited {
color: #414b3b;
 }

header li a:hover, a.active {
    background-color: #414b3b;
    color: #efefef;
  }


                                                 /* CONTENT*/

.content {
    min-height: 100vh;
}

                                                /* CSS FOR BOOKINGSIDEN - herifra og ned*/

